<script type="text/x-template" id="posts">

    <div v-show="displayPosts.length" class="post-list">

        <v-row v-if="$vuetify.breakpoint.lg || $vuetify.breakpoint.xl">
            <v-col cols="4">
                <div v-for="(post, index) in displayPosts" :key="index">
                    <div v-if="index % 3 === 0">
                        <post-card :post="post" :is-loaded="showPostList.includes(index)"></post-card>
                    </div>
                </div>
            </v-col>
            <v-col cols="4">
                <div v-for="(post, index) in displayPosts" :key="index">
                    <div v-if="index % 3 === 1">
                        <post-card :post="post" :is-loaded="showPostList.includes(index)"></post-card>
                    </div>
                </div>
            </v-col>
            <v-col cols="4">
                <div v-for="(post, index) in displayPosts" :key="index">
                    <div v-if="index % 3 === 2">
                        <post-card :post="post" :is-loaded="showPostList.includes(index)"></post-card>
                    </div>
                </div>
            </v-col>
        </v-row>

        <v-row v-if="$vuetify.breakpoint.sm || $vuetify.breakpoint.md">
            <v-col cols="6">
                <div v-for="(post, index) in displayPosts" :key="index">
                    <div v-if="index % 2 === 0">
                        <post-card :post="post" :is-loaded="showPostList.includes(index)"></post-card>
                    </div>
                </div>
            </v-col>
            <v-col cols="6">
                <div v-for="(post, index) in displayPosts" :key="index">
                    <div v-if="index % 2 === 1">
                        <post-card :post="post" :is-loaded="showPostList.includes(index)"></post-card>
                    </div>
                </div>
            </v-col>
        </v-row>

        <v-row v-if="$vuetify.breakpoint.xs">
            <v-col cols="12">
                <div v-for="(post, index) in displayPosts" :key="index">
                    <div>
                        <post-card :post="post" :is-loaded="showPostList.includes(index)"></post-card>
                    </div>
                </div>
            </v-col>
        </v-row>


        <v-row no-gutters justidy="center">
            <v-col>
                <v-slide-x-transition>
                    <v-pagination v-show="showPostList.length === pageSize" v-model="page" :length=pageLength @input="pageChange" class="mt-4"></v-pagination>
                </v-slide-x-transition>
            </v-col>
        </v-row>
    

        <v-snackbar
            v-model="resultSnackbar"
            :timeout=2000
        >
            Found [[ filteredPosts.length ]] Posts.
            <template v-slot:action="{ attrs }">
                <v-btn
                    color="primary"
                    icon
                    v-bind="attrs"
                    @click="resultSnackbar = false"
                >
                    <v-icon>
                        mdi-close
                    </v-icon>
                </v-btn>
            </template>
        </v-snackbar>
    </div>

</script>