<script type="text/x-template" id="post-card">
    <v-slide-x-transition>
        <div v-show="isLoaded">
    
            <div class="mb-6">
                <v-card class="post-card" v-if="post" color="#333a40">
                    <v-list-item three-line>
                        <v-list-item-content>
                        
                            <div class="overline">
                                <div class="post-subtitle grey--text">
                                    <v-icon small color="grey lighten-1">
                                        mdi-calendar
                                    </v-icon>
                                    [[ post.params.date.slice(0,10) ]]
                                    <v-divider vertical></v-divider>
                                    <v-icon small color="grey lighten-1">
                                        mdi-folder-multiple
                                    </v-icon>
                                    <div v-for="(category, index) in post.params.categories" class="d-inline">
                                        <span v-if="index">, </span>
                                        <router-link
                                            :to="{path: '/', query: {category: category}}"
                                        >
                                            [[ category ]]
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        
                        
                        
                            <v-list-item-title class="text-h6 grey--text text--lighten-2">
                                <router-link 
                                    class="post-title" 
                                    v-html="post.params.title" 
                                    :to="{name: 'post', params: {path: post.path}}"
                                    v-if="post.summary"
                                >
                                </router-link>
                                <span 
                                    class="post-title"
                                    v-else
                                >
                                    [[ post.params.title ]]
                                </span>
                            </v-list-item-title>
                        
                            <v-list-item-subtitle>
                                <div class="mt-2 text-body-2 grey--text text--lighten-1">
                                
                                    <div v-if="$router.path == '/'" class="post-subtitle">
                                        <v-icon small color="grey lighten-1">
                                            mdi-tag-multiple
                                        </v-icon>
                                        <div v-for="tag in post.params.tags" class="d-inline">
                                            <v-chip
                                                color="accent"
                                                label
                                                text-color="grey lighten-3"
                                                x-small
                                                class="mr-1"
                                                :key="tag"
                                                :to="{path: '/', query: {tag: tag}}"
                                                v-if="searchConditions.selectedTags.includes(tag)"
                                                :class="['v-chip--active']"
                                            >
                                                [[ tag ]]
                                            </v-chip>
                                            <v-chip
                                                color="accent"
                                                label
                                                text-color="grey lighten-3"
                                                x-small
                                                class="mr-1"
                                                :key="tag"
                                                :to="{path: '/', query: {tag: tag}}"
                                                v-else
                                            >
                                                [[ tag ]]
                                            </v-chip>
                                        </div>
                                    </div>
                                
                                    <div v-else class="post-subtitle">
                                        <v-icon small color="grey lighten-1">
                                            mdi-tag-multiple
                                        </v-icon>
                                        <div v-for="tag in post.params.tags" class="d-inline">
                                            <v-chip
                                                color="accent"
                                                label
                                                text-color="grey lighten-3"
                                                x-small
                                                class="mr-1"
                                                :key="tag"
                                                :to="{path: '/', query: {tag: tag}}"
                                            >
                                                [[ tag ]]
                                            </v-chip>
                                        </div>
                                    </div>    
                                
                                </div>                      
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                
                    <v-divider inset></v-divider>
                
                    <v-card-text v-if="post.content" class="text-body-2 grey--text text--lighten-2">
                        <div class="post-content" v-html="post.content"></div>
                    </v-card-text>
                
                    <v-card-text v-else-if="post.summary" class="text-body-2 grey--text text--lighten-2">
                        <div class="post-content" v-html="post.summary"></div>
                        <v-row justify="end">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <div
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        <v-btn :to="{name: 'post', params: {path: post.path}}" color="primary" small text>
                                            Continue Reading
                                            <v-icon right small>
                                                mdi-chevron-right
                                            </v-icon>
                                        </v-btn>
                                    </div>
                                </template>
                                <span>[[ post.wordcount ]] words</span>
                            </v-tooltip> 
                        </v-row>
                    </v-card-text>
                
                </v-card>
            </div>

        </div>
    </v-slide-x-transition>
</script>