<script type="text/x-template" id="works">
    <div v-if="works">
        <v-row justify="center" class="mt-n5">
            <v-col>
                <transition-group name="fade" tag="p">

                    <div v-for="(work, index) in works" :key="work.name">
                        <v-card flat color="transparent">
                            <v-card-text>
                                <v-row>
                                    <v-col xs="12" sm="6" md="6" lg="4" xl="4">
                                        <v-carousel hide-delimiters height="100%">
                                            <v-carousel-item
                                                v-for="(item, i) in work.params.images"
                                                :key="i"
                                                :src="item"
                                            >
                                            </v-carousel-item>
                                        </v-carousel>
                                    </v-col>
                                
                                    <v-col xs="12" sm="6" md="6" lg="8" xl="8">
                                        <v-card height="100%" flat color="transparent">
                                            <v-card-title class="text-h6 grey--text text--lighten-3">
                                                <span class="post-title">
                                                    [[ work.params.title ]]
                                                </span>
                                            </v-card-title>
                                        
                                            <v-card-text class="text-body-2 grey--text text--lighten-2">
                                                <div class="post-content" v-html="work.content">
                                                </div>
                                            </v-card-text>

                                            <v-card-actions style="padding: 0px 16px 0px 16px;">
                                                <v-btn
                                                    :href="work.params.demo_url" 
                                                    :disabled="!work.params.demo_url" 
                                                    target="_blank"
                                                    color="secondary"
                                                    small
                                                >
                                                    Demo
                                                </v-btn>
                                                <v-btn
                                                    :href="work.params.download_url"
                                                    :disabled="!work.params.download_url" 
                                                    target="_blank"
                                                    color="primary"
                                                    small
                                                >
                                                    Download
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                        <v-divider></v-divider>
                    </div>
            
                </transition-group>
            </v-col>
        </v-row>



    </div>
</script>