
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
{{ partial "vue_templates/filter_card.html" . }}
{{ partial "vue_templates/post_card.html" . }}
{{ partial "vue_templates/disqus_card.html" . }}
{{ partial "vue_templates/posts.html" . }}
{{ partial "vue_templates/post.html" . }}
{{ partial "vue_templates/works.html" . }}
{{ partial "vue_templates/about.html" . }}



<script>
  Vue.component('filter-card', {
    data() {
      return {
        filterSelections: {},
        filterConditions: {},
      }
    },
    template: '#filter-card',
    delimiters: ['[[', ']]'],
    computed: {
      routeQuery () {
        return this.$route.query
      },

      notInFilter () {
        const queryKeys = Object.keys(this.$route.query)
        if (queryKeys.length === 0) {
          return true
        }
        return !queryKeys.every(v => ['keyword', 'category', 'tag'].includes(v))
      }
    },

    mounted () {
      this.getFilterSelections('{{ .Site.BaseURL }}selections/index.json')
      this.setFilterConditionsToData()
    },

    watch: {
      routeQuery () {
        if (this.$route.path == '/') {
          this.setFilterConditionsToData()
        }
      }
    },

    methods: {
      getFilterSelections (url) {
        axios.get(url).then(response => {
          this.filterSelections = response.data.result
        })
      },

      getFilterConditions () {
        let query = this.routeQuery
        const convertToArray = (value) => {
          if (Array.isArray(value)) {
            return value
          } else if (typeof value === 'string') {
            return value.split(',')
          } else {
            return []
          }
        }

        let filterConditions = {}

        filterConditions.selectedCategories = convertToArray(query.category)
        filterConditions.selectedTags = convertToArray(query.tag)
        if (typeof query.keyword === 'string') {
          filterConditions.keyword = query.keyword
        } else {
          filterConditions.keyword = null
        }
        return filterConditions
      },

      setFilterConditionsToData () {
        this.filterConditions = this.getFilterConditions()
      },

      toFilteredPosts () {
        let query = {}

        this.$route.query.keyword = null
        this.$route.query.category = null
        this.$route.query.tag = null

        if (this.filterConditions.keyword) {
          query.keyword = this.filterConditions.keyword
        }
        if (this.filterConditions.selectedCategories.length) {
          query.category = this.filterConditions.selectedCategories
        }
        if (this.filterConditions.selectedTags.length) {
          query.tag = this.filterConditions.selectedTags
        }
        
        this.$router.history.push({
          path: '/',
          query: query
        })

      },

      getItems (key, items) {
        if (key) {
          return items
        }else{
          return []
        }
      },

      removeItem (target, item) {
        const index = this.filterConditions[target].indexOf(item)
        if (index >= 0) {
          this.filterConditions[target].splice(index, 1)
        }
      },
    }
  })

  Vue.component('post-card', {
    props: ['post', 'isLoaded'],
    template: '#post-card',
    delimiters: ['[[', ']]']
  })

  Vue.component('disqus-card', {
    props: ['commentBlock'],
    template: '#disqus-card',
    delimiters: ['[[', ']]'],
    computed: {
      postPath () {
        return this.$route.params.path
      }
    },

    watch: {
      postPath (newPath, oldPath) {
        if (newPath) {
          this.resetDISQUS('{{ .Site.BaseURL }}' + newPath)
        }
      }
    },

    mounted () {
      this.initDISQUS('{{ .Site.BaseURL }}' + this.postPath)
    },

    methods: {
      initDISQUS (disqusPageUrl) {
        (() => {
          window.disqus_config = function () {
            this.page.url = disqusPageUrl
          }
          
          if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
            document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.'
            return
        }
        let d = document, s = d.createElement('script')
        s.async = true

        let disqus_shortname = '{{ .Site.DisqusShortname }}'
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js'
        s.setAttribute('data-timestamp', +new Date())
        d.body.appendChild(s)
        })()
      },

      resetDISQUS (disqusPageUrl) {
        if (window.DISQUS) {
          window.DISQUS.reset({
            reload: true,
            config: function () {
              this.page.url = disqusPageUrl
            }
          })
        }
      },

    }
  })

  const About = {
    template: '#about',
    delimiters: ['[[', ']]'],

    data () {
      return {
        content: null,
        author: {
          name: '{{ .Site.Author.name }}',
          email:'{{ .Site.Author.email }}',
          socialLinks: [
            {
              name: 'github',
              user: '{{ .Site.Author.github }}',
              url: 'https://github.com/'
            },
            {
              name: 'gitlab',
              user: '{{ .Site.Author.gitlab }}',
              url: 'https://gitlab.com/'
            },
            {
              name: 'codepen',
              user: '{{ .Site.Author.codepen }}',
              url: 'https://codepen.io/'
            },
            {
              name: 'linkedin',
              user: '{{ .Site.Author.twitter }}',
              url: 'https://linkedin.com/in/'
            },
            {
              name: 'twitter',
              user: '{{ .Site.Author.twitter }}',
              url: 'https://twitter.com/'
            },
            {
              name: 'facebook',
              user: '{{ .Site.Author.facebook }}',
              url: 'https://www.facebook.com/'
            },
            {
              name: 'instagram',
              user: '{{ .Site.Author.instagram }}',
              url: 'https://www.instagram.com/'
            },
            {
              name: 'youtube',
              user: '{{ .Site.Author.youtube }}',
              url: 'https://www.youtube.com/user/'
            }
          ]
        }

      }
    },

    created () {
      axios.get('{{ .Site.BaseURL }}about/index.json').then(response => {
          setTimeout(() => {
            this.content = response.data.result.content
            let charts = response.data.result.charts
            
            setTimeout(() => {
              this.setPie('Top Categories', 'category', charts.categories_data, 'chart_categories')
            }, 500)
            setTimeout(() => {
              this.setPie('Top Tags', 'tag', charts.tags_data, 'chart_tags')
            }, 700)
            setTimeout(() => {
              this.setArea('', charts.monthly_count.x, charts.monthly_count.series, 'monthly')
            }, 1000)
          }, 500)
      })
    },
    methods: {
      setArea (title, x_data, series_data, element_id) {
        option = {
          tooltip: {
            trigger: 'axis',
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: x_data.reverse(),
          },
          yAxis: {
            type: 'value'
          },
          series: [{
            data: series_data.reverse(),
            type: 'line',
            areaStyle: {}
          }],
          textStyle: {
              color: '#c2c4c6'
          }
        }
        let chart = echarts.init(document.getElementById(element_id))
        chart.setOption(option)
      },

      setPie (title, series_name, data, element_id) {
        let option = {
          title: {
            left: 'auto',
            //text: title,
            textStyle: {
              color: '#e0e0e0',
              fontSize: 16,
              fontFamily: 'Noto Sans TC'
            }
          },
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c} ({d}%)'
          },
          legend: {
            type: 'scroll',
            orient: 'vertical',
            right: 0,
            top: 10,
            bottom: 10,
            data: data.legend,
            selected: data.selected,
            inactiveColor: '#686868',
            pageIconColor: '#aaa',
            pageIconInactiveColor: '#2f4554',
            textStyle: {
              color: '#c2c4c6'
            },
            pageTextStyle: {
              color: '#c2c4c6'
            }
          },
          series: [
            {
              name: series_name,
              type: 'pie',
              radius: '55%',
              center: ['40%', '50%'],
              data: data.series,
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        }
        let chart = echarts.init(document.getElementById(element_id))
        chart.setOption(option)

      }
    }
  }

  const Works = {
    template: '#works',
    delimiters: ['[[', ']]'],

    data () {
      return {
        works: null
      }
    },

    created () {
      axios.get('{{ .Site.BaseURL }}works/index.json').then(response => {
          setTimeout(() => {this.works = response.data.result.pages}, 300)
      })
    },
  }


  const Post = {
    template: '#post',
    delimiters: ['[[', ']]'],
    props: ['path'],

    data () {
      return {
        post: {},
        isLoaded: false
      }
    },

    mounted () {
      let postUrl = '{{ .Site.BaseURL }}' + this.path + '/index.json'
      this.getPost(postUrl)
      //setTimeout(this.resetDisqus, 1000, postUrl)
    },

    methods: {
      replaceImgSrc () {
        let contents = document.getElementsByClassName('post-content')
        let url = this.post.permalink
        if (url.includes('index.json')) {
          url = url.replace('index.json', '')
        }

        Array.prototype.forEach.call(contents, content => {
          let imgs = content.getElementsByTagName('img')
          Array.prototype.forEach.call(imgs, img => {
            if (img.attributes.src.value.indexOf('http') == -1) {
              img.src = url + img.attributes.src.value
            }
          })
        })        
      },

      addCodeBlockTitle () {
        let code_list = document.body.getElementsByTagName('code')
        for (i=0; i <= code_list.length-1; i++) {
          let codeParent = code_list[i].closest('pre')
          if (codeParent) {
            if (!codeParent.closest('div.highlight')) {
              if (/^language-:+/.test(code_list[i].className)) {
                let div = document.createElement('div')
                div.classList.add('highlight')
                let pre = codeParent.cloneNode(true)
                div.appendChild(pre)
                codeParent.replaceWith(div)
              }
            }
          }
        }

        let list = document.body.getElementsByClassName('highlight')

        for(i=0; i <= list.length-1; i++){
          let table = list[i].firstElementChild.firstElementChild
          if (table.nodeName == 'TABLE') {
            let code = table.firstElementChild.firstElementChild.childNodes[2].firstElementChild.firstElementChild
            let codeName =  code ? code.className.split(':')[1] : null
            if(codeName) {
              let div = document.createElement('div')
              div.textContent = codeName
              div.classList.add('code-name')
              table.parentNode.insertBefore(div, table)
            }
          } else {
            let code = table
            let codeName =  code ? code.className.split(':')[1] : null
          
            if(codeName) {
              let div = document.createElement('div')
              let br = document.createElement('br')
              div.textContent = codeName
              div.classList.add('code-name')
              code.parentNode.insertBefore(div, code)
              code.parentNode.insertBefore(br, code)
            }
          }
        }
      },

      getPost (url) {
        axios.get(url).then(response => {
          this.post = response.data.result
        
          setTimeout(() => {
            this.replaceImgSrc()
            this.addCodeBlockTitle()
          }, 10)

          setTimeout(() => {
            this.isLoaded = true
          }, 50)

        })
      },


    }
  }
  

  const Posts = {
    template: '#posts',
    delimiters: ['[[', ']]'],
    data () {
      return {
        page: 1,
        pageSize: 6,
        pageLength: null,
        postList: [],
        filteredPosts: [],
        displayPosts: [],
        resultSnackbar: false,
        filterConditions: {
          selectedCategories: [],
          selectedTags: [],
          keyword: null
        },
        showPostList: [],
        showFooter: false
      }
    },

    computed: {
      routeQuery () {
        return this.$route.query
      }
    },

    mounted () {
      this.getPostList('{{ .Site.BaseURL }}posts/index.json')
    },

    watch: {
      routeQuery () {
        this.postsInit()
      },
    },

    methods: {
      getPostList (url) {
        axios.get(url).then(response => {
          this.postList = response.data.result.pages
          this.postsInit()
        })
      },

      getFilterConditions () {
        let query = this.routeQuery
        const convertToArray = (value) => {
          if (Array.isArray(value)) {
            return value
          } else if (typeof value === 'string') {
            return value.split(',')
          } else {
            return []
          }
        }

        let filterConditions = {}

        filterConditions.selectedCategories = convertToArray(query.category)
        filterConditions.selectedTags = convertToArray(query.tag)
        if (typeof query.keyword === 'string') {
          filterConditions.keyword = query.keyword
        } else {
          filterConditions.keyword = null
        }
        return filterConditions
      },

      postsInit () {
        if (Object.keys(this.$route.query).length) {
          this.filterPosts()
        }
        else {
          this.filteredPosts = this.postList
          this.pageInit()
        }
      },

      pageChange (pageNumber) {
        this.showPostList = []
        window.scroll({top: 0, behavior: 'instant'})
        setTimeout(() => {
          this.displayPosts = this.filteredPosts.slice(this.pageSize*(pageNumber - 1), this.pageSize*(pageNumber))
          for (i = 0; i < this.pageSize; i++) {
            ((i) => {
              setTimeout(() => {
                this.showPostList.push(i)
              }, i * 170)
            })(i)  
          } 
        }, 180)
        
      },

      pageInit () {
        this.pageLength = Math.ceil(this.filteredPosts.length/this.pageSize)
        this.page = 1
        setTimeout(() => {
          this.pageChange(1)
        }, 50)
        
      },

      filterPosts () {
        let filterConditions = this.getFilterConditions()
        this.filterConditions = filterConditions
        let keyword = filterConditions.keyword
        let selectedTags = filterConditions.selectedTags
        let selectedCategories = filterConditions.selectedCategories
        const posts = JSON.parse(JSON.stringify(this.postList))

        const checkArray = (target, item) => {
          if (item && target) {
            return item.every(v => target.includes(v))
          }
          return false
        }

        let checkArrayResult = []

        for (const post of posts) {
          if (checkArray(post.params.tags, selectedTags) && checkArray(post.params.categories, selectedCategories)) {
            checkArrayResult.push(post)
          }
        }

        let checkKeywordResult = []

        if (keyword) {
          let lower_keyword = keyword.toLowerCase()
          for (const post of checkArrayResult) {
            let lower_title = post.params.title.toLowerCase()
            let keywordIndex = lower_title.indexOf(lower_keyword)

            if (keywordIndex !== -1) {
              hl_keyword = '<span style="background-color:#00a381">' + post.params.title.substring(keywordIndex, keywordIndex + keyword.length) + '</span>'
              post.params.title = lower_title.replace(lower_keyword, hl_keyword)
              checkKeywordResult.push(post)
            }
          }
          this.filteredPosts = checkKeywordResult
        } else {
          this.filteredPosts = checkArrayResult
        }
        this.resultSnackbar = true
        this.pageInit()
      },
    }
  }

  const routes = [
    { path: '/', name: 'main', component: Posts },
    { path: '/posts/:path', name: 'post', component: Post, props: true },
    { path: '/works', name: 'works', component: Works },
    { path: '/about', name: 'about', component: About }
  ]

  const router = new VueRouter({
    routes
  })


  
  router.afterEach((to, from) => {
    window.scroll({top: 0, behavior: 'instant'})
  })


  

  const vm = new Vue({
    router,
    delimiters: ['[[', ']]'],
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      filterModal: false,
      commentBlock: false,
      appBar: true
    },

    computed: {
      notInFilter () {
        const queryKeys = Object.keys(this.$route.query)
        if (queryKeys.length === 0) {
          return true
        }
        return !queryKeys.every(v => ['keyword', 'category', 'tag'].includes(v))
      }
    },

    created () {
      this.$vuetify.theme.themes.dark.primary = '#F08300'
      this.$vuetify.theme.themes.dark.secondary = '#006e54'
      this.$vuetify.theme.themes.dark.warning = '#d3381c'
      this.$vuetify.theme.themes.dark.error = '#D7003A'
      this.$vuetify.theme.themes.dark.accent = '#009988'
      this.$vuetify.theme.themes.dark.header = '#1f3134'
      this.$vuetify.theme.themes.dark.content = '#333a40'
      this.$vuetify.theme.dark = true
    },

    mounted () {
      this.showComment()
    },

    updated () {
      this.showAppBar()
      this.showComment()
    },

    methods: {
      showComment () {
        if (this.$route.name === 'post') {
          setTimeout(() => {this.commentBlock = true}, 3000)
        } else {
          this.commentBlock = false
        }
      },

      showAppBar () {
        if (window.scrollY === 0) {
          this.appBar = true
        }
      },

    }
  })
















</script>


 
